before_script:
- set GRADLE_USER_HOME=$(pwd)/.gradle
- attrib +x ./gradlew

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  SONAR_TOKEN: "d5c495767d668bcd3b5654894d18d05904691da6"
  SONAR_HOST_URL: "http://localhost:9000"
  GIT_DEPTH: 0

image: gradle:alpine
    
build:
  stage: build
  script:
    - ./gradlew assemble
 
test:
  stage: test
  script:
    - ./gradlew test

sonarqube-check:
  stage: test
  script: gradle sonarqube 
  allow_failure: true
  only:
    - master
 
after_script:
  - echo "End CI"
